<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><b>Nuevo Domicilio</b></h4>
                    </div>
                    <div class="col-sm-10">
  
                    </div>
                </div>
            </div>
            <form (ngSubmit)="guardarDomicilio()" #domicilioForm="ngForm">
                <div class="table-content">
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="direccion" class="p-t-b-10">Dirección<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección" required [(ngModel)]="nuevoDomicilio.direccion">
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="ciudad" class="p-t-b-10">Ciudad<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad" required [(ngModel)]="nuevoDomicilio.ciudad">
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="codigo_postal" class="p-t-b-10">Código Postal<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="codigo_postal" name="codigo_postal" placeholder="Ingrese el código postal" required [(ngModel)]="nuevoDomicilio.codigo_Postal">
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="tipo_residencia" class="p-t-b-10">Tipo Residencia<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-select" id="tipo_residencia" name="tipo_residencia" required [(ngModel)]="nuevoDomicilio.tipo_Residencia">
                                <option value="" selected disabled>Seleccione el tipo de residencia</option>
                                <option value="Casa">Casa</option>
                                <option value="Departamento">Departamento</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="table-footer">
                    <button type="submit" class="btn btn-success" style="margin-right: 25px;" [disabled]="!domicilioForm.valid">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                    <a href="#" routerLink="/Domicilio" class="btn btn-primary back"><i class='fas fa-arrow-circle-left'></i> Regresar</a>
                </div>
            </form>
        </div>
    </div>
  </div>
  
